<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ascender</key>
	<integer>800</integer>
	<key>capHeight</key>
	<integer>706</integer>
	<key>copyright</key>
	<string>The font is licensed CC BY-SA https://creativecommons.org/licenses/by-sa/4.0/</string>
	<key>descender</key>
	<integer>-200</integer>
	<key>guidelines</key>
	<array>
		<dict>
			<key>angle</key>
			<integer>90</integer>
			<key>x</key>
			<integer>127</integer>
			<key>y</key>
			<integer>-12</integer>
		</dict>
		<dict>
			<key>angle</key>
			<integer>0</integer>
			<key>x</key>
			<integer>334</integer>
			<key>y</key>
			<integer>682</integer>
		</dict>
		<dict>
			<key>angle</key>
			<integer>0</integer>
			<key>x</key>
			<integer>240</integer>
			<key>y</key>
			<integer>446</integer>
		</dict>
		<dict>
			<key>angle</key>
			<integer>0</integer>
			<key>x</key>
			<integer>76</integer>
			<key>y</key>
			<integer>530</integer>
		</dict>
		<dict>
			<key>angle</key>
			<integer>180</integer>
			<key>x</key>
			<integer>181</integer>
			<key>y</key>
			<integer>64</integer>
		</dict>
		<dict>
			<key>angle</key>
			<integer>0</integer>
			<key>x</key>
			<integer>406</integer>
			<key>y</key>
			<integer>-188</integer>
		</dict>
		<dict>
			<key>angle</key>
			<integer>90</integer>
			<key>x</key>
			<integer>269</integer>
			<key>y</key>
			<integer>241</integer>
		</dict>
		<dict>
			<key>angle</key>
			<integer>0</integer>
			<key>x</key>
			<integer>686</integer>
			<key>y</key>
			<integer>64</integer>
		</dict>
		<dict>
			<key>angle</key>
			<integer>0</integer>
			<key>x</key>
			<integer>-13</integer>
			<key>y</key>
			<integer>670</integer>
		</dict>
	</array>
	<key>openTypeHeadCreated</key>
	<string>2020/01/28 11:50:34</string>
	<key>openTypeNameDesigner</key>
	<string>Joaquín Contreras Soto, Miguel Hernández Montoya</string>
	<key>openTypeNameDesignerURL</key>
	<string>http://www.archetypo.xyz</string>
	<key>openTypeNameManufacturer</key>
	<string>Archetypo</string>
	<key>openTypeNameManufacturerURL</key>
	<string>http://www.archetypo.xyz</string>
	<key>openTypeNameLicense</key>
	<string>CC BY-SA 4.0</string>
	<key>openTypeNameLicenseURL</key>
	<string>https://creativecommons.org/licenses/by-sa/4.0/</string>
	<key>openTypeNamePreferredFamilyName</key>
	<string>CC Accidenz Common</string>
	<key>openTypeNamePreferredSubfamilyName</key>
	<string>medium</string>
	<key>openTypeOS2WeightClass</key>
	<integer>500</integer>
	<key>openTypeOS2WidthClass</key>
	<integer>5</integer>
	<key>openTypeOS2Type</key>
    <array>
    </array>
	<key>postscriptBlueValues</key>
	<array>
		<integer>-12</integer>
		<integer>0</integer>
		<integer>518</integer>
		<integer>530</integer>
	</array>
	<key>postscriptFontName</key>
	<string>CCAccidenzCommon-medium</string>
	<key>postscriptOtherBlues</key>
	<array/>
	<key>postscriptStemSnapV</key>
	<array>
		<integer>127</integer>
	</array>
	<key>styleMapFamilyName</key>
	<string>CC Accidenz Common medium</string>
	<key>styleMapStyleName</key>
	<string>regular</string>
	<key>styleName</key>
	<string>medium</string>
	<key>unitsPerEm</key>
	<integer>1000</integer>
	<key>versionMajor</key>
	<integer>1</integer>
	<key>versionMinor</key>
	<integer>1</integer>
	<key>xHeight</key>
	<integer>518</integer>
</dict>
</plist>
